<p-panel [showHeader]="true" header="Pipes Personalizados" class="p-2">
  <p>
    Pipes personalizados - Creados por {{'nosotros' | toggleCase: isUpperCase}}
  </p>
</p-panel>

<p-toolbar>

  <div class="p-toolbar-group-start">
    <p-button label="ToggleCase" icon="pi pi-search" (onClick)="toggleUpperCase()"></p-button>
  </div>

  <div class="p-toolbar-group-start">
      <p-button class="mr-1" label="Por Nombre" icon="pi pi-sort" styleClass="p-button-success" (onClick)="changeOrder('name')"></p-button>
      <p-button class="mr-1" label="Por Volar" icon="pi pi-sort" styleClass="p-button-danger" (onClick)="changeOrder('canFly')"></p-button>
      <p-button class="mr-1" label="Por Color" icon="pi pi-sort" styleClass="p-button-help" (onClick)="changeOrder('color')"></p-button>
  </div>

</p-toolbar>

<div class="grid">
  <div class="col mt-2 ">
    <p-panel header="Heroes">
      <p-table [value]="heroes | sortBy:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Can Fly</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-heroe>
            <tr>
                <td>{{ heroe.name }}</td>
                <td>{{ heroe.canFly | canFly | titlecase}}</td>
                <td>{{ heroe.color }}</td>
            </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>

</div>
